USE [N_Bers_aj]
GO
ALTER TABLE [dbo].[nbers_group] DROP CONSTRAINT [DF__nbers_grou__show__0F4D3C5F]
GO
ALTER TABLE [dbo].[nbers_group] DROP CONSTRAINT [DF__nbers_grou__sort__0E591826]
GO
ALTER TABLE [dbo].[nbers_group] DROP CONSTRAINT [DF__nbers_gro__statu__0D64F3ED]
GO
ALTER TABLE [dbo].[nbers_group] DROP CONSTRAINT [DF__nbers_gro__updat__0C70CFB4]
GO
/****** Object:  Table [dbo].[nbers_user]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_user]
GO
/****** Object:  Table [dbo].[nbers_role_user]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_role_user]
GO
/****** Object:  Table [dbo].[nbers_role]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_role]
GO
/****** Object:  Table [dbo].[nbers_node]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_node]
GO
/****** Object:  Table [dbo].[nbers_netmap]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_netmap]
GO
/****** Object:  Table [dbo].[nbers_group]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_group]
GO
/****** Object:  Table [dbo].[nbers_form]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_form]
GO
/****** Object:  Table [dbo].[nbers_businessunit]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_businessunit]
GO
/****** Object:  Table [dbo].[nbers_Attachments]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_Attachments]
GO
/****** Object:  Table [dbo].[nbers_articles]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_articles]
GO
/****** Object:  Table [dbo].[nbers_access]    Script Date: 2016/11/25 17:47:29 ******/
DROP TABLE [dbo].[nbers_access]
GO
USE [master]
GO
/****** Object:  Database [N_Bers_aj]    Script Date: 2016/11/25 17:47:29 ******/
DROP DATABASE [N_Bers_aj]
GO
/****** Object:  Database [N_Bers_aj]    Script Date: 2016/11/25 17:47:29 ******/
CREATE DATABASE [N_Bers_aj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'N_Bers_aj', FILENAME = N'E:\DB\N_Bers_aj.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'N_Bers_aj_log', FILENAME = N'E:\DB\N_Bers_aj_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [N_Bers_aj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [N_Bers_aj]
GO
/****** Object:  Table [dbo].[nbers_access]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[node_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_articles]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_articles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[art_type] [nvarchar](50) NULL,
	[fkguid] [int] NULL,
	[content] [ntext] NULL,
	[istop] [tinyint] NULL,
	[status] [int] NULL,
	[create_date] [datetime] NULL,
	[createby] [int] NULL,
	[create_user] [nvarchar](50) NULL,
	[ispublish] [tinyint] NULL,
	[remark] [text] NULL,
	[description] [nvarchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_Attachments]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_Attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DocName] [nvarchar](120) NULL,
	[FkGUID] [int] NULL,
	[CreateBy] [int] NULL,
	[CreateUser] [nvarchar](20) NULL,
	[CreateOn] [datetime] NULL,
	[FileName] [nvarchar](300) NULL,
	[Location] [nvarchar](300) NULL,
	[Filesize] [nvarchar](max) NULL,
	[URL] [nvarchar](200) NULL,
	[DocType] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[RootType] [nvarchar](100) NULL,
 CONSTRAINT [PK_nbers_Attachments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_businessunit]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_businessunit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [nvarchar](100) NOT NULL,
	[unit_fullname] [nvarchar](500) NULL,
	[pid] [int] NULL,
	[unit_type] [int] NULL,
	[child_type] [nvarchar](50) NULL,
	[unit_auditorname] [nvarchar](50) NULL,
	[unit_auditor] [int] NULL,
	[createby] [int] NULL,
	[createon] [datetime] NULL,
	[unit_figure] [text] NULL,
	[unit_duty] [text] NULL,
	[remark] [nvarchar](50) NULL,
 CONSTRAINT [PK__nbers_bu__3213E83FD4BE07E6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_form]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_form](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[create_time] [timestamp] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_group]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_group](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[create_time] [int] NOT NULL,
	[update_time] [int] NOT NULL,
	[status] [int] NOT NULL,
	[sort] [int] NOT NULL,
	[show] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_netmap]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_netmap](
	[node_guid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_nbers_netmap_node_guid]  DEFAULT (newid()),
	[node_name] [nvarchar](50) NOT NULL,
	[auditor] [nvarchar](50) NULL,
	[sort_order] [int] NULL,
	[parentguid] [uniqueidentifier] NULL,
	[remark] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_node]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nbers_node](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[version] [bigint] NULL CONSTRAINT [DF__nbers_nod__versi__04E4BC85]  DEFAULT (NULL),
	[parentId] [int] NOT NULL CONSTRAINT [DF_nbers_node_parentId]  DEFAULT ((0)),
	[name] [nvarchar](20) NOT NULL,
	[url] [varchar](500) NULL,
	[params] [varchar](200) NULL CONSTRAINT [DF__nbers_nod__param__05D8E0BE]  DEFAULT (NULL),
	[icon] [varchar](200) NULL CONSTRAINT [DF__nbers_node__icon__06CD04F7]  DEFAULT (NULL),
	[levels] [int] NULL CONSTRAINT [DF__nbers_nod__level__07C12930]  DEFAULT ('0'),
	[sortCode] [int] NULL CONSTRAINT [DF__nbers_nod__sortC__08B54D69]  DEFAULT (NULL),
	[moduleId] [varchar](32) NULL CONSTRAINT [DF__nbers_nod__modul__09A971A2]  DEFAULT (NULL),
	[enable] [varchar](11) NULL CONSTRAINT [DF__nbers_nod__enabl__0A9D95DB]  DEFAULT (NULL),
	[group_id] [int] NULL CONSTRAINT [DF__nbers_nod__group__0B91BA14]  DEFAULT ('0'),
 CONSTRAINT [PK__nbers_no__3213E83FB171BB38] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nbers_role]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_role](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[status] [int] NULL DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_role_user]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_role_user](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[role_id] [int] NULL DEFAULT (NULL),
	[user_id] [int] NULL DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_user]    Script Date: 2016/11/25 17:47:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nbers_user](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[account] [nvarchar](64) NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[password] [char](32) NOT NULL,
	[bind_account] [varchar](50) NULL,
	[last_login_time] [int] NULL CONSTRAINT [DF__nbers_use__last___17F790F9]  DEFAULT ('0'),
	[last_login_ip] [varchar](40) NULL CONSTRAINT [DF__nbers_use__last___18EBB532]  DEFAULT (NULL),
	[login_count] [int] NULL CONSTRAINT [DF__nbers_use__login__19DFD96B]  DEFAULT ('0'),
	[verify] [nvarchar](32) NULL CONSTRAINT [DF__nbers_use__verif__1AD3FDA4]  DEFAULT (NULL),
	[email] [nvarchar](50) NULL,
	[remark] [nvarchar](255) NULL,
	[create_time] [int] NULL,
	[update_time] [int] NULL,
	[status] [int] NULL CONSTRAINT [DF__nbers_use__statu__1BC821DD]  DEFAULT ('0'),
	[type_id] [int] NULL CONSTRAINT [DF__nbers_use__type___1CBC4616]  DEFAULT ('0'),
	[info] [text] NULL,
	[phone] [nvarchar](11) NULL,
	[is_admin] [tinyint] NULL,
	[unit_id] [int] NULL,
	[isdisable] [tinyint] NULL,
 CONSTRAINT [PK__nbers_us__3213E83F5D436D18] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[nbers_access] ON 

INSERT [dbo].[nbers_access] ([id], [role_id], [node_id]) VALUES (52, 1, 1)
INSERT [dbo].[nbers_access] ([id], [role_id], [node_id]) VALUES (53, 1, 2)
INSERT [dbo].[nbers_access] ([id], [role_id], [node_id]) VALUES (54, 1, 10)
SET IDENTITY_INSERT [dbo].[nbers_access] OFF
SET IDENTITY_INSERT [dbo].[nbers_articles] ON 

INSERT [dbo].[nbers_articles] ([id], [title], [art_type], [fkguid], [content], [istop], [status], [create_date], [createby], [create_user], [ispublish], [remark], [description]) VALUES (1, N'23131', N'岗位职责', NULL, N'<em>312313</em><u><em></em></u>', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[nbers_articles] OFF
SET IDENTITY_INSERT [dbo].[nbers_Attachments] ON 

INSERT [dbo].[nbers_Attachments] ([id], [DocName], [FkGUID], [CreateBy], [CreateUser], [CreateOn], [FileName], [Location], [Filesize], [URL], [DocType], [Remarks], [RootType]) VALUES (10, N'jqueryapi.zip', 123456, 1, N'管理员AA', CAST(N'2016-11-09 21:08:06.793' AS DateTime), N'131231704867930523(9758).zip', N'/UpFiles/201611/', N'2301904', NULL, N'上级来文', NULL, NULL)
INSERT [dbo].[nbers_Attachments] ([id], [DocName], [FkGUID], [CreateBy], [CreateUser], [CreateOn], [FileName], [Location], [Filesize], [URL], [DocType], [Remarks], [RootType]) VALUES (11, N'Font-Awesome-3.2.1.zip', 123456, 1, N'管理员AA', CAST(N'2016-11-09 21:08:34.773' AS DateTime), N'131231705147737763(5707).zip', N'/UpFiles/201611/', N'994312', NULL, N'上级来文', NULL, NULL)
INSERT [dbo].[nbers_Attachments] ([id], [DocName], [FkGUID], [CreateBy], [CreateUser], [CreateOn], [FileName], [Location], [Filesize], [URL], [DocType], [Remarks], [RootType]) VALUES (12, N'01 标准化需求集成方案V1.4.xlsx', 123456, 1, N'管理员AA', CAST(N'2016-11-09 21:08:43.507' AS DateTime), N'131231705235081087(9174).xlsx', N'/UpFiles/201611/', N'2765412', NULL, N'上级来文', NULL, NULL)
SET IDENTITY_INSERT [dbo].[nbers_Attachments] OFF
SET IDENTITY_INSERT [dbo].[nbers_businessunit] ON 

INSERT [dbo].[nbers_businessunit] ([id], [unit_name], [unit_fullname], [pid], [unit_type], [child_type], [unit_auditorname], [unit_auditor], [createby], [createon], [unit_figure], [unit_duty], [remark]) VALUES (1, N'安质管理工程局', N'1231', NULL, 0, N'农电', NULL, NULL, 1, CAST(N'2016-11-01 23:55:01.677' AS DateTime), N'3123', N'312', NULL)
INSERT [dbo].[nbers_businessunit] ([id], [unit_name], [unit_fullname], [pid], [unit_type], [child_type], [unit_auditorname], [unit_auditor], [createby], [createon], [unit_figure], [unit_duty], [remark]) VALUES (2, N'质量管理部', N'3132131', 1, 1, N'农电', NULL, NULL, 1, CAST(N'2016-11-01 23:55:15.193' AS DateTime), N'312', N'32', NULL)
INSERT [dbo].[nbers_businessunit] ([id], [unit_name], [unit_fullname], [pid], [unit_type], [child_type], [unit_auditorname], [unit_auditor], [createby], [createon], [unit_figure], [unit_duty], [remark]) VALUES (3, N'安全管理部', N'安全管理部', 1, 1, N'农电', NULL, NULL, 1, CAST(N'2016-11-03 19:55:41.077' AS DateTime), N'312', N'123', NULL)
SET IDENTITY_INSERT [dbo].[nbers_businessunit] OFF
INSERT [dbo].[nbers_netmap] ([node_guid], [node_name], [auditor], [sort_order], [parentguid], [remark]) VALUES (N'3594d3fa-7c87-43c3-90dd-820a2e8052ae', N'天门分公司', N'', 1, N'6b4c13f1-4691-4688-a8a8-34f07b857b06', NULL)
INSERT [dbo].[nbers_netmap] ([node_guid], [node_name], [auditor], [sort_order], [parentguid], [remark]) VALUES (N'07193c51-5530-4f3f-9208-6e59746962cc', N'钱江分公司', N'', NULL, N'6b4c13f1-4691-4688-a8a8-34f07b857b06', NULL)
INSERT [dbo].[nbers_netmap] ([node_guid], [node_name], [auditor], [sort_order], [parentguid], [remark]) VALUES (N'90b4fe32-708b-4405-abc6-fc01d98d4b7a', N'仙桃分公司', N'', 2, N'6b4c13f1-4691-4688-a8a8-34f07b857b06', NULL)
SET IDENTITY_INSERT [dbo].[nbers_node] ON 

INSERT [dbo].[nbers_node] ([id], [version], [parentId], [name], [url], [params], [icon], [levels], [sortCode], [moduleId], [enable], [group_id]) VALUES (1, 1, 0, N'系统设置', N'', NULL, NULL, 1, 1, N'system', N'1', 0)
INSERT [dbo].[nbers_node] ([id], [version], [parentId], [name], [url], [params], [icon], [levels], [sortCode], [moduleId], [enable], [group_id]) VALUES (2, 1, 1, N'用户管理', N'/UserManage/UserIndex.aspx', NULL, N'', 2, 1, N'system', N'1', 1)
INSERT [dbo].[nbers_node] ([id], [version], [parentId], [name], [url], [params], [icon], [levels], [sortCode], [moduleId], [enable], [group_id]) VALUES (3, 1, 1, N'角色管理', N'/SystemManage/RoleIndex.aspx?nodeid=3', NULL, NULL, 2, 2, N'system', N'1', 0)
SET IDENTITY_INSERT [dbo].[nbers_node] OFF
SET IDENTITY_INSERT [dbo].[nbers_role] ON 

INSERT [dbo].[nbers_role] ([id], [name], [status]) VALUES (1, N'管理员', 1)
INSERT [dbo].[nbers_role] ([id], [name], [status]) VALUES (2, N'系统测试员', 1)
SET IDENTITY_INSERT [dbo].[nbers_role] OFF
SET IDENTITY_INSERT [dbo].[nbers_role_user] ON 

INSERT [dbo].[nbers_role_user] ([id], [role_id], [user_id]) VALUES (9, 2, 2)
INSERT [dbo].[nbers_role_user] ([id], [role_id], [user_id]) VALUES (10, 2, 3)
INSERT [dbo].[nbers_role_user] ([id], [role_id], [user_id]) VALUES (11, 2, 4)
SET IDENTITY_INSERT [dbo].[nbers_role_user] OFF
SET IDENTITY_INSERT [dbo].[nbers_user] ON 

INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info], [phone], [is_admin], [unit_id], [isdisable]) VALUES (1, N'admin', N'管理员AA', N'21232F297A57A5A743894A0E4A801FC3', N'', 1326335612, N'127.0.0.1', 888, N'8888', N'liu21st@gmail.com', N'备注信息', 1222907803, 1326266696, 1, 0, N'2312', N'231', NULL, 4, NULL)
INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info], [phone], [is_admin], [unit_id], [isdisable]) VALUES (2, N'demo', N'演示', N'21232F297A57A5A743894A0E4A801FC3', N'', 1254326091, N'127.0.0.1', 90, N'8888', N'', N'', 1239783735, 1254325770, 1, 0, N'', N'231', NULL, 7, NULL)
INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info], [phone], [is_admin], [unit_id], [isdisable]) VALUES (3, N'member', N'员工', N'aa08769cdcb26674c6706093503ff0a3', N'', 1326266720, N'127.0.0.1', 17, N'', N'', N'', 1253514375, 1254325728, 1, 0, N'', N'0', NULL, 5, NULL)
SET IDENTITY_INSERT [dbo].[nbers_user] OFF
ALTER TABLE [dbo].[nbers_group] ADD  DEFAULT ('0') FOR [update_time]
GO
ALTER TABLE [dbo].[nbers_group] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[nbers_group] ADD  DEFAULT ('0') FOR [sort]
GO
ALTER TABLE [dbo].[nbers_group] ADD  DEFAULT ('0') FOR [show]
GO
USE [master]
GO
