USE [AZ]
GO
/****** Object:  Table [dbo].[nbers_access]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_access](
	[role_id] [smallint] NOT NULL,
	[node_id] [smallint] NOT NULL,
	[level] [smallint] NOT NULL,
	[pid] [smallint] NOT NULL,
	[module] [nvarchar](50) NULL DEFAULT (NULL)
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_form]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_form](
	[id] [smallint] IDENTITY(0,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[create_time] [timestamp] NOT NULL,
	[status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_group]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_group](
	[id] [smallint] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[create_time] [int] NOT NULL,
	[update_time] [int] NOT NULL DEFAULT ('0'),
	[status] [tinyint] NOT NULL DEFAULT ('0'),
	[sort] [tinyint] NOT NULL DEFAULT ('0'),
	[show] [tinyint] NOT NULL DEFAULT ('0'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_node]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_node](
	[id] [tinyint] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[title] [nvarchar](50) NULL DEFAULT (NULL),
	[status] [tinyint] NULL DEFAULT ('0'),
	[remark] [nvarchar](255) NULL DEFAULT (NULL),
	[sort] [tinyint] NULL DEFAULT (NULL),
	[pid] [tinyint] NOT NULL,
	[level] [tinyint] NOT NULL,
	[type] [tinyint] NOT NULL DEFAULT ('0'),
	[group_id] [tinyint] NULL DEFAULT ('0')
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_role]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nbers_role](
	[id] [tinyint] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[pid] [tinyint] NULL DEFAULT (NULL),
	[status] [tinyint] NULL DEFAULT (NULL),
	[remark] [nvarchar](255) NULL DEFAULT (NULL),
	[ename] [nvarchar](5) NULL DEFAULT (NULL),
	[create_time] [int] NOT NULL,
	[update_time] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nbers_role_user]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nbers_role_user](
	[role_id] [int] NULL DEFAULT (NULL),
	[user_id] [char](32) NULL DEFAULT (NULL)
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nbers_user]    Script Date: 2016/10/21 13:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nbers_user](
	[id] [tinyint] IDENTITY(0,1) NOT NULL,
	[account] [nvarchar](64) NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[password] [char](32) NOT NULL,
	[bind_account] [varchar](50) NOT NULL,
	[last_login_time] [int] NULL DEFAULT ('0'),
	[last_login_ip] [varchar](40) NULL DEFAULT (NULL),
	[login_count] [int] NULL DEFAULT ('0'),
	[verify] [nvarchar](32) NULL DEFAULT (NULL),
	[email] [nvarchar](50) NOT NULL,
	[remark] [nvarchar](255) NOT NULL,
	[create_time] [int] NOT NULL,
	[update_time] [int] NOT NULL,
	[status] [tinyint] NULL DEFAULT ('0'),
	[type_id] [tinyint] NULL DEFAULT ('0'),
	[info] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[nbers_access] ([role_id], [node_id], [level], [pid], [module]) VALUES (2, 1, 1, 0, NULL)
INSERT [dbo].[nbers_access] ([role_id], [node_id], [level], [pid], [module]) VALUES (2, 40, 2, 1, NULL)
INSERT [dbo].[nbers_access] ([role_id], [node_id], [level], [pid], [module]) VALUES (2, 30, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[nbers_group] ON 

INSERT [dbo].[nbers_group] ([id], [name], [title], [create_time], [update_time], [status], [sort], [show]) VALUES (2, N'App', N'应用中心', 1222841259, 0, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[nbers_group] OFF
SET IDENTITY_INSERT [dbo].[nbers_node] ON 

INSERT [dbo].[nbers_node] ([id], [name], [title], [status], [remark], [sort], [pid], [level], [type], [group_id]) VALUES (49, N'read', N'查看', 1, N'', NULL, 30, 3, 0, 0)
INSERT [dbo].[nbers_node] ([id], [name], [title], [status], [remark], [sort], [pid], [level], [type], [group_id]) VALUES (40, N'Index', N'默认模块', 1, N'', 1, 1, 2, 0, 0)
INSERT [dbo].[nbers_node] ([id], [name], [title], [status], [remark], [sort], [pid], [level], [type], [group_id]) VALUES (39, N'index', N'列表', 1, N'', NULL, 30, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[nbers_node] OFF
SET IDENTITY_INSERT [dbo].[nbers_role] ON 

INSERT [dbo].[nbers_role] ([id], [name], [pid], [status], [remark], [ename], [create_time], [update_time]) VALUES (1, N'领导组', 0, 1, N'', N'', 1208784792, 1254325558)
INSERT [dbo].[nbers_role] ([id], [name], [pid], [status], [remark], [ename], [create_time], [update_time]) VALUES (2, N'员工组', 0, 1, N'', N'', 1215496283, 1254325566)
INSERT [dbo].[nbers_role] ([id], [name], [pid], [status], [remark], [ename], [create_time], [update_time]) VALUES (7, N'演示组', 0, 1, N'', NULL, 1254325787, 0)
SET IDENTITY_INSERT [dbo].[nbers_role] OFF
INSERT [dbo].[nbers_role_user] ([role_id], [user_id]) VALUES (4, N'27                              ')
INSERT [dbo].[nbers_role_user] ([role_id], [user_id]) VALUES (4, N'26                              ')
INSERT [dbo].[nbers_role_user] ([role_id], [user_id]) VALUES (4, N'30                              ')
SET IDENTITY_INSERT [dbo].[nbers_user] ON 

INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info]) VALUES (1, N'admin', N'管理员', N'21232f297a57a5a743894a0e4a801fc3', N'', 1326335612, N'127.0.0.1', 888, N'8888', N'liu21st@gmail.com', N'备注信息', 1222907803, 1326266696, 1, 0, N'')
INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info]) VALUES (2, N'demo', N'演示', N'fe01ce2a7fbac8fafaed7c982a04e229', N'', 1254326091, N'127.0.0.1', 90, N'8888', N'', N'', 1239783735, 1254325770, 1, 0, N'')
INSERT [dbo].[nbers_user] ([id], [account], [nickname], [password], [bind_account], [last_login_time], [last_login_ip], [login_count], [verify], [email], [remark], [create_time], [update_time], [status], [type_id], [info]) VALUES (3, N'member', N'员工', N'aa08769cdcb26674c6706093503ff0a3', N'', 1326266720, N'127.0.0.1', 17, N'', N'', N'', 1253514375, 1254325728, 1, 0, N'')
SET IDENTITY_INSERT [dbo].[nbers_user] OFF
